:root {
  --blu: #06042e;
  --yellow: #ffce2e;
}

body {
  background-color: #efefef;
  font-family: "Segoe UI";
  position: relative;
}

.category a,
.departmentItems a,
.subDepartment a {
  text-decoration: none;
  color: #06042e;
  font-size: 14px;
}

.depDroplist a:hover,
.depDroplist a {
  color: black;
}

.category a:hover,
.departmentItems a:hover,
.subDepartment a:hover {
  text-decoration: underline;
  color: #06042e;
}

/***************************************************************BODY****************************************************************/
.body {
  display: flex;
  padding: 15px 0 0 10px;
  background-color: #efefef;
  justify-content: space-around;
}
/*************************************************************FEED******************************************************************/
.feed {
  display: flex;
  flex-direction: column;
  /* margin-left: -50px; */
  width: 80%;
  /* background-color: rebeccapurple; */
}

.feedCategories {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  /* background-color: rebeccapurple; */
}

.feedCategories2 {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  width: 2000px;
  /* background-color: rebeccapurple; */
}

.deals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titlebtn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 95%;
}

.titlebtn h2 {
  font-weight: bold;
  color: #06042e;
  text-shadow: 2px 2px 4px #aaa;
}
.titlebtn button {
  font-size: 17px;
  background-color: white;
  color: var(--blu);
  font-weight: 600;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #aaa;
  height: 3em;
  width: 7em;
}

.titlebtn button:hover {
  background-color: #ffe591;
}

.titlebtn button:active {
  background-color: #ffe591;
  border: 4px solid #ffce2e;
}

/****************************************************DEPARTMENTS SECTION*************************************************************/
.departments {
  border-right: 1px solid #cdcdcd;
}

.viewMore_departments {
  border-right: 1px solid #cdcdcd;
  width: 400px;
}

.viewMore_departments2 {
  border-right: 1px solid #cdcdcd;
  width: 400px;
}

.viewMore_department {
  font-weight: bold;
  margin: 15px;
  font-size: larger;
  line-height: 1;
  color: #06042e;
}

.viewMore_subDept {
  margin-left: -20px;
}

.viewMore_subDept a {
  font-size: medium;
}

.department {
  font-weight: bold;
  /* margin-top: 100px; */
  font-size: medium;
  line-height: 1;
  color: #06042e;
  /* background-color: red; */
}

.departmentItems {
  margin-left: 0px;
  padding-left: 0px;
}

.departmentItems li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  font-weight: normal;
  font-size: large;
  line-height: 0.9;
}

.departments-bar {
  float: left;
}
.departmentHeading {
  padding-left: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 25px;
}
.subDepartment {
  font-size: 14px;
}

/****************************************************************ITEMS*************************************************************/
.items {
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  margin-left: 10px;
  flex-wrap: wrap;
  /* background-color: red; */
}

.item-box {
  background-color: white;
  width: 22%;
  height: 20rem;
  box-shadow: 4px 4px 5px #aaa;
  padding-left: 15px;
  border-radius: 4px;
  margin: 0 30px 30px 0;
}

.item-box img {
  width: 90%;
  height: 50%;
}

.discount-tag {
  background-color: var(--yellow);
  color: white;
  width: 3.5em;
  height: 3.2em;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  word-wrap: break-word;
  text-align: center;
  margin: 5px 0px 0px -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemImage {
  background-color: white;
  height: 60%;
  width: 95%;
  margin: 10px 0px 0 0px;
}

.itemImage img {
  height: 100%;
  width: 100%;
}
.item-name {
  color: var(--blu);
  font-weight: 500;
  font-size: 100%;
  width: 100%;
  margin: 0%;
}
.price {
  font-size: 22px;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 5%;
}
.original-price {
  color: #aaa;
  font-size: 14px;
}
.rating {
  font-weight: 200;
  font-size: 16px;
}
.rating img {
  width: 20px;
  margin-right: 10px;
}
.rating p {
  margin: 0%;
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.arrow:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.nextArrow {
  position: absolute;
  top: 80%;
  right: 0%;
  z-index: 999;
  color: rgb(0, 0, 0);
}

.backArrow {
  position: absolute;
  top: 80%;
  left: 5% ;
  z-index: 999;
  color: rgb(0, 0, 0);
}

.addcart {
  border-radius: 100%;
  background-color: #ffff;
  width: 3.5em;
  height: 3em;
  text-align: center;
  line-height: 50%;
  position: relative;
  margin: -60px 0 50px 70%;
}

.addcart img:hover {
  width: 35px;
  height: 35px;
}

.item-box:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.item-box:active {
  background-color: #ffe591;
  border: 5px solid #ffce2e;
}

/***************************************************************FOOTER*************************************************************/
.footer {
  background-color: #06042e;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* height: 25em; */
  margin-bottom: -50px;
  line-height: 1;
}

.footer img {
  width: 8em;
  height: 8em;
  margin: 40px 0 0 -15px;
}

.footer-item {
  padding: 2%;
  color: white;
}

.footer-item a {
  color: white;
}

.footer-item h3 {
  font-weight: bold;
}

.footer-item a:hover {
  color: var(--yellow);
  text-decoration: none;
}

.copyright {
  background-color: black;
  width: 100%;
  text-align: center;
  color: #ffce2e;
  padding: 1.5em;
  font-weight: bold;
}

/****************************************************************MODAL*******************************************************/

.new {
  display: flex;
  flex-direction: row;
  height: 600px;
}
.modalImage {
  width: 300px;
  height: 300px;
  margin: 5px 0 0 0;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.modalImage img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.modalImage-wrap{
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

.item-info {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  align-items: center;
}

.item-info button {
  background-color: #ffce2e;
  color: #000;
  font-weight: 600;
  border: transparent;
  width: 20em;
  height: 3em;
  box-shadow: 4px 4px 5px #aaa;
  border-radius: 2px;
  align-items: center;
  margin-top: 40px;
}

.item-info button:hover {
  background-color: var(--blu);
  color: white;
}

.item-info button:active {
  border: 4px solid #ffce2e;
}

.modalPrice {
  font-weight: bold;
  font-size: 2em;
  margin: 20px 0 0 0;
}

.modal-content {
  display: flex;
}

.modal-itemName {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  /* margin-bottom: 10px; */
}

.item-extra-info {
  display: flex;
  width: auto;
  height: auto;
  justify-content: right;
}

.closeModal p {
  font-weight: bold;
  margin: 2em 0 0 1.5em;
  display: inline-flex;
}

.closeModal img {
  width: 30px;
  height: 30px;
}

.esc {
  margin: 0 5px 2px 5px;
  border: 0.5px solid #aaa;
  text-align: center;
  border-radius: 5px;
  padding-top: -110px;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 25px;
}
.esc p {
  font-family: "Lucida Console", "Courier New", monospace;
  font: monospace;
  font-weight: lighter;
  padding: 0 2px 0 2px;
  margin: 0;
  background-color: rgb(241, 241, 241);
}

.selected {
  box-shadow: 0px 2px 0px var(--yellow);
}

.extra-info-container {
  width: 100%;
  height: 640px;
  margin: 5px;
  background-color: #efefef;
  border-radius: 5px;
  line-height: 30px;
  word-wrap: normal;
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-wrap;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

/**************************************************HEADER Div******************************************************/
.parent {
  background-color: #06042e;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-around;
}

.logo {
  width: 10rem;
  height: 10rem;
  margin: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
}

/*******************************************Dropdown Button and Searchbar Div**********************************************/
.dropSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2em 0 0 0;
  width: 50%;
}

/* Dropdown button */
.dropdown button {
  background-color: #ffce2e;
  color: black;
  font-weight: bold;
  font-size: medium;
  border: transparent;
  width: 13em;
  height: 2.9em;
  border-radius: 6px;
}

/* Items inside the Dropdown button */
.droplist button {
  background-color: white;
  font-weight: normal;
  width: 14em;
  border-radius: 0;
}

/* Items inside the departments dropdown */
.depDroplist button {
  background-color: #efefef;
  font-weight: normal;
  width: 14em;
  border-radius: 0;
  border: none;
  margin-top: -8px;
  margin-bottom: -8px;
}

.depDroplist button:hover {
  text-decoration: underline;
  background-color: #efefef;
}

.depDroplist button:active {
  background-color: #efefef;
  color: black;
}

/************************************************SEARCH-BAR Div*******************************************************/
.search {
  background-color: #ffce2e;
  border-radius: 5px;
  margin: 10px 0 0 0;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
}

.search button {
  background-color: #ffce2e;
  border: transparent;
  margin: 5px 5px 0 10px;
}

/* Searchbar */
.input {
  width: 360%;
  height: 2.2em;
  margin: 0 0 0 6px;
  background-color: red;
}

.input input {
  width: 100%;
  height: 100%;
  border: transparent;
}

/* Search icon */
.search img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

/**********************************************Reg/Login navigation bar and FavCart Div*****************************************/
.regFavCart {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

/* Registration and Login navigation bar */
.regNavBar {
  background-color: #06042e;
  color: white;
  font-size: large;
  margin: 0.5em;
  margin-top: -27px;
}

.regNavBar:hover {
  color: #ffce2e;
}

/********************************************Favorites and Shopping cart Div***************************************************/
.favCart {
  display: flex;
  justify-content: right;
  margin-left: 14em;
}

/* Favorites Button */
.fav {
  border-radius: 50%;
  background-color: #ffce2e;
  width: 3em;
  height: 3em;
  position: relative;
  margin: 0 20px 0 0;
}

/* Shopping cart button */
.cart {
  border-radius: 15px;
  background-color: #ffce2e;
  width: 3.5em;
  height: 3em;
  text-align: center;
  line-height: 50%;
  position: relative;
}

/* Favorites and Shopping cart icon */
.favIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

/*********************************************CATEGORIES NAVIGATION BAR*****************************************************/
.catDiv {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: #ffce2e;
  font-weight: bold;
  height: 3.5em;
  align-items: center;
  text-align: center;
}

.catDiv a:hover,
.catDiv a {
  color: #ffce2e;
  text-decoration: none;
}

.catDiv img {
  margin-bottom: 10px;
}

.icons {
  width: 2em;
  height: 2em;
}

/********************************************************Order History************************************************************/
.orderBody {
  display: flex;
  margin: 0.5em;
  background-color: rgb(235, 231, 231);
}

/* .orderBody .orders{
  
} */

.orderBody .orders .order {
  background-color: white;
  width: 65vw;
  min-width: 500px;
  max-width: 900px;
  margin: 2vh 5vh 5vh 5%;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px grey;
  position: relative;
}

.order button {
  background-color: white;
  border-radius: 4px;
  border-color: var(--blu);
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  font-weight: 600;
  position: absolute;
  top: 10px;
  right: 5px;
}

.order button:active {
  background-color: #ffce2e;
}

.order .backtoSummary {
  cursor: pointer;
  font-size: 10;
  text-decoration: underline;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}

.order .backtoSummary:active {
  background-color: #ffce2e;
}

.order img {
  border-color: var(--blu);
  border-style: solid;
  border-width: 0.1px;
  border-radius: 2px;
  margin: 1px;
}

.orderBody .orders .order .details {
  display: flex;
  justify-content: space-between;
  margin: 4px;
  padding: 5px;
}
.orderBody .orders .order h6 {
  font-weight: bold;
}

.orderBody .orders h3 {
  margin: 2vh 5vh 5vh 5%;
  padding: 0px;
}
.orderBody .orders .order .values {
  margin: 0px;
  padding: 4px 5vw;
  display: grid;
  grid-template-columns: repeat(3, 33%);
}


/**************************SHIPPING MODAL**************************************/
#shipping-modal{
  display: grid;
  grid-template-columns: 30px auto;
}

.shipping-order .summary{
  display: grid;
  grid-template-columns: 50% 50%;
}

.shipping-order .summary .amount{
  font-weight: bold;
}

.shipping-order #change{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}


/***************************Invoice Header*****************************/
.invoice{
  padding: 20px;
  width: 21cm;
  max-width: 21cm;
  align-items: center;
  position: absolute;
  z-index: -1000;
  left: -1000px;
  top:-1080px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
  display: grid;
  grid-template-columns: 360px 200px;
  padding-bottom: 50px;
}

.header .address{
  text-align: right;
  font-weight: 600;
}

.invoice-for{
  padding-top: 5px;
  display: grid;
  grid-template-columns:360px 200px;
}

.invoice-for .invoice-info{
  text-align: right;
}

.invoice table{
  margin: 10px 20px 10px 20px;
}

th{
  text-transform: uppercase;
}

th,td{
  padding: 10px 10px 5px 10px;
  overflow: hidden;
}
tr{
  margin: 10px;
}

.thanks{
  position: absolute;
  left: 150px;
  margin: 10px;
  margin-top: -5px;
  font-weight: 500;
}